<nav class="nav">
  <div class="nav--container">
    <div class="nav--header">
      <img src="./assets/Logo.png" class="nav--logo" />
    </div>

    <div class="nav--menu-container">
      <ul class="nav--list">
        <!-- method-1 with routerLink, routerLinkActive to add active class dynamically -->
        <li routerLinkActive="active">
          <a [routerLink]="['auth']" *ngIf="!isAuthenticated">Login</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['recipebook']" *ngIf="isAuthenticated"
            >Recipe Book</a
          >
        </li>
        <!-- method-2 with routerLink, routerLinkActive to add active class dynamically -->
        <li routerLinkActive="active">
          <a routerLink="/shoppinglist" *ngIf="isAuthenticated"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="nav--list-second">
        <li>
          <a *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" *ngIf="isAuthenticated"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveData()">Save Data</a></li>
            <li><a (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
