@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,100;1,300&display=swap');
a {
  cursor: pointer;
}

h1 {
  color: #2d3436;
  font-weight: 300;
}

h4 {
  color: #2d3436;
  font-weight: 500;
}

.row {
  color: #2d3436;
  font-family: 'Raleway', sans-serif;
}
