@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,100;1,300&display=swap');

.btn-add-ing {
  margin: 0;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid #ff7675;
}

/* From Recipe Detail */

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.603),
    0 6px 20px 0 rgba(0, 0, 0, 0.603);
  text-align: center;
  margin: 10px 25%;
}

h1 {
  color: #2d3436;
  font-weight: 300;
}

h4 {
  color: #2d3436;
  font-weight: 500;
}

.x-button {
  margin: 34px 0 0 0;
}

.row {
  background-color: #dfe6e9;
  color: #2d3436;
  font-family: 'Raleway', sans-serif;
}

.description,
.ingredient-list {
  background-color: #ecf0f1;
}

a {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1200px) {
}
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
